:root {
  --mainWhite: #f0f0f0;
  --veryLightGrey: #eaeaea;
  --greyMuted: #d6d6d6;
  --lightGrey2: #b2b2c2;
  --lightGrey: #969696;
  --mainGrey: #545454;
  --mainDark: #232528;
  --brightGreen: #03e6af;
  --darkGreen: #01c09e;
  /* --mainNavy: #2b3441; */
  --mainYellow: #ffa400;
  --mainNavy: #191a37;
  --lightNavy: #5c5d7f;
  --mainOrange: #d57e26;
  --lightBlue: #00c8ff;
}
body,
footer {
  font-family: "Calibri", sans-serif;
  background: var(--mainWhite) !important;
}

.social-icon {
  color: var(--mainGrey) !important;
}

/*text type*/

.text-subtitle {
  font-size: 1.6rem;
  color: var(--lightGrey);
  line-height: 2rem;
}

.project-title {
  font-size: 1.4rem;
  color: var(--mainDark);
  line-height: 2rem;
}
.text-highlight {
  color: var(--brightGreen);
  font-size: 1.4rem;

  line-height: 2rem;
}
.skill-title {
  font-size: 1.2rem;
  color: var(--mainDark);
  line-height: 2rem;
}
.text-muted {
  color: var(--lightGrey) !important;
}

.moreInfo {
  border-color: var(--brightGreen) !important;
  border-width: thick !important;
}

/*button*/
.btn-green {
  border-color: var(--brightGreen) !important;
  color: var(--brightGreen) !important;
}
.btn-solidgreen {
  background: var(--brightGreen) !important;
  color: var(--mainGrey) !important;
}

.btn:hover {
  background: var(--brightGreen) !important;
  color: var(--mainDark) !important;
}

.fa-dribbble {
  color: blue;
}

.quote {
  color: #fb9126;
}

/*
.contact .social-buttons {
  margin: 15px auto;
}
.contact .connect-text {
  color: #2699fb;
} */

@media screen and (max-width: 1000px) {
  .about .skill-content {
    flex-flow: column wrap;
  }
  .about .skill-content .skill-content-column {
    width: 100%;
  }
}
@media screen and (max-width: 630px) {
  .about .skill-content {
    flex-flow: column wrap;
  }
}
@media screen and (max-width: 480px) {
  .skill-cards {
    flex-flow: column wrap;
  }
  .about .skill-content .skill-content-column {
    width: 100%;
  }
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
   {
    /*CSS */
  }
}

/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
   {
    /*CSS */
  }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
   {
    /*CSS */
  }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  .text-subtitle,
  .text-strong {
    font-size: 1.4rem;
  }
}

/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  .text-subtitle,
  .text-strong {
    font-size: 1.2rem;
  }
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  .text-subtitle,
  .text-strong {
    font-size: 1rem; /*1*/
  }
}
