:root {
  --mainWhite: #f0f0f0;
  --veryLightGrey: #eaeaea;
  --greyMuted: #d6d6d6;
  --lightGrey2: #b2b2c2;
  --lightGrey: #969696;
  --mainGrey: #545454;
  --mainDark: #232528;
  --brightGreen: #03e6af;
  --darkGreen: #01c09e;
  --mainYellow: #ffa400;
  --mainNavy: #191a37;
  --lightNavy: #5c5d7f;
  --mainOrange: #d57e26;
  --lightBlue: #00c8ff;

  --headlineSubSize: 36px;
  --ProjectSubSize: 32px;
  --textSubSize: 24px;

  --headlineSubSizeMin: 26px;
  --projectSubSizeMin: 22px;
  --textSubSizeMin: 18px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
p {
  cursor: default;
}
html {
  font-size: 100%;
}
body,
footer {
  font-family: "Calibri", sans-serif;
  background: var(--mainWhite) !important;
}

img {
  max-width: 100% !important;
}
.project_content {
  font-family: "Century Gothic", sans-serif;
  font-size: 0.8rem;
}
.social-icon {
  color: var(--mainGrey) !important;
}
.medx {
  background-color: #fff;
}

/*text type*/
.text-subtitle {
  font-size: var(--headlineSubSize);
  color: var(--lightGrey);
  /* line-height: 2rem; */
}

.project-title {
  font-size: var(--projectSubSize);
  color: var(--mainDark);
  /* line-height: 2rem; */
}
.text-highlight {
  color: var(--brightGreen);
  font-size: var(--projectSubSize);
}

.skill-title {
  font-size: var(--textSubSize);
  color: var(--mainDark);
  line-height: 110%;
}
.text-muted {
  color: var(--lightGrey) !important;
}

.moreInfo {
  border-color: var(--brightGreen) !important;
  border-width: thick !important;
}

/*button*/
.btn-green {
  border-color: var(--brightGreen) !important;
  color: var(--brightGreen) !important;
}
.btn-solidgreen {
  background: var(--brightGreen) !important;
  color: var(--mainGrey) !important;
}

.btn:hover {
  background: var(--brightGreen) !important;
  color: var(--mainDark) !important;
}

.fa-dribbble {
  color: blue;
}

.quote {
  color: #fb9126;
}

.text-anim:after {
  position: absolute;
  content: " ";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: var(--mainWhite);
  transform: translate(100% 100%);
  transform-origin: top left;
  z-index: 2;
}

@media screen and (max-width: 1000px) {
  .about .skill-content {
    flex-flow: column wrap;
  }
  .about .skill-content .skill-content-column {
    width: 100%;
  }
}
@media screen and (max-width: 630px) {
  .about .skill-content {
    flex-flow: column wrap;
  }
}
@media screen and (max-width: 480px) {
  .skill-cards {
    flex-flow: column wrap;
  }
  .about .skill-content .skill-content-column {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .container {
    padding-left: 6px;
    padding-right: 6px;
  }
  .text-subtitle {
    font-size: var(--headlineSubSizeMin);
  }
  .project-title {
    font-size: var(--projectSubSizeMin);
  }
  .text-highlight {
    font-size: var(--projectSubSizeMin);
  }
  .skill-title {
    font-size: var(--textSubSizeMin);
  }
}

@media screen and (min-width: 480px) and (max-width: 1200px) {
  .text-subtitle {
    font-size: calc(var(--headlineSubSizeMin) + 1.3889 * (1vw - 4.8px));
  }
  .project-title {
    font-size: calc(var(--projectSubSizeMin) + 1.3889 * (1vw - 4.8px));
  }
  .skill-title {
    font-size: calc(var(--textSubSizeMin) + 1.11 * (1vw - 4.8px));
  }
}
